@import url("https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"); /*PicoCSS*/

:root {
  font-family: Avenir, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  width: 80%;
}

/* Header */

.logo-img {
  height: 75px;
  width: 75px;
}

.header-container, .header-left {
  display: flex;
  gap: 1rem;
}

.header-container {
  justify-content: space-between;
}

/* All Mobs Page */

#main-content, #mob-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7rem;
}

.card {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 500px;
}

/* Mob Details Page */

.mob-details {
  max-width: 400px;
}

.mob-title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* 404 Page */

.fof-container{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
  color: black;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  color:rgb(26, 25, 25);
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .6s alternate infinite;
}
